<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        My Cat Pictures
      </h1>
    </header>

    <main>
      <section>
        <div class="tiles">
          
          <!--tile with three kittens-->
          <div class="tile">
            <div class="of3 kitten-container">
              <div class="trigger n1"> 
                  <div class="indicator">
                  </div>
              </div>
              <div class="wrapper n1 of3">
                  <img src="https://cdn.glitch.com/05f6fe2d-6aed-47fe-aeb3-085215e2dff8%2F087.jpg?1497312036836" alt="kitten" />
                  <div class="kittencredit">
                    <p>
                      photo 1 credit
                    </p>
                  </div>
              </div>
              
              <div class="trigger n2 of3"> 
                <div class="indicator">
                </div>
              </div>
              <div class="wrapper n2 of3">
                <img src="https://cdn.glitch.com/05f6fe2d-6aed-47fe-aeb3-085215e2dff8%2F088.jpg?1497312040626" alt="kitten2" />
                  <div class="kittencredit">
                    <p>
                      photo 2 credit
                    </p>
                  </div>
              </div>
              
              <div class="trigger n3 of3">  
                <div class="indicator">
                </div>
              </div>
              <div class="wrapper n3 of3">
                <img src="https://cdn.glitch.com/05f6fe2d-6aed-47fe-aeb3-085215e2dff8%2F089.jpg?1497312044017" alt="kitten3" />
                  <div class="kittencredit">
                    <p>
                      photo 3 credit
                    </p>
                  </div>
              </div>
            </div>
            
            <div class="info">
              <p>
                This card is a reward for [finishing|submitting]
              </p>
              <h3 class="name">
                [work name]
              </h3>
              <p class="date">
                [date]
              </p>
            </div>
          </div>
          
          <!--<div class="catpics">
            <div class="cat">
              <div class="catpicture">

              </div>
            </div>

            <div class="cat">
              <div class="catpicture">

              </div>
            </div>

            <div class="cat">
              <div class="catpicture">

              </div>
            </div>
          </div>-->

          
           <!--tile with two kittens-->
          <div class="tile">
            <div class="of2 kitten-container">
              <div class="trigger n1"> 
                  <div class="indicator">
                  </div>
              </div>
              <div class="wrapper n1 of2">
                  <img src="https://cdn.glitch.com/05f6fe2d-6aed-47fe-aeb3-085215e2dff8%2F087.jpg?1497312036836" alt="kitten" />
                <div class="kittencredit">
                    <p>
                      photo 1 credit
                    </p>
                  </div>
              </div> 
              <div class="trigger n2 of2"> 
                <div class="indicator">
                </div>
              </div>
              <div class="wrapper n2 of2">
                <img src="https://cdn.glitch.com/05f6fe2d-6aed-47fe-aeb3-085215e2dff8%2F088.jpg?1497312040626" alt="kitten2" />
                <div class="kittencredit">
                    <p>
                      photo 2 credit
                    </p>
                  </div>
              </div>
            </div>
            <div class="info">
              <p>
                This card is a reward for [finishing|submitting]
              </p>
              <h3 class="name">
                [work name]
              </h3>
              <p class="date">
                [date]
              </p>
            </div>
          </div>
          
          
          <!--tile with four kittens-->
          <div class="tile">
            <div class="of4 kitten-container">
              <div class="trigger n1"> 
                  <div class="indicator">
                  </div>
              </div>
              <div class="wrapper n1 of4">
                  <img src="https://cdn.glitch.com/05f6fe2d-6aed-47fe-aeb3-085215e2dff8%2F087.jpg?1497312036836" alt="kitten" />
                <div class="kittencredit">
                    <p>
                      photo 1 credit
                    </p>
                  </div>
              </div> 
              <div class="trigger n2 of4"> 
                <div class="indicator">
                </div>
              </div>
              <div class="wrapper n2 of4">
                <img src="https://cdn.glitch.com/05f6fe2d-6aed-47fe-aeb3-085215e2dff8%2F088.jpg?1497312040626" alt="kitten2" />
                <div class="kittencredit">
                    <p>
                      photo 2 credit
                    </p>
                  </div>
              </div>
              <div class="trigger n3 of4">  
                <div class="indicator">
                </div>
              </div>
              <div class="wrapper n3 of4">
                <img src="https://cdn.glitch.com/05f6fe2d-6aed-47fe-aeb3-085215e2dff8%2F089.jpg?1497312044017" alt="kitten3" />
                <div class="kittencredit">
                    <p>
                      photo 3 credit
                    </p>
                  </div>
              </div>
              <div class="trigger n4 of4">  
                <div class="indicator">
                </div>
              </div>
              <div class="wrapper n4 of4">
                <img src="https://cdn.glitch.com/05f6fe2d-6aed-47fe-aeb3-085215e2dff8%2F092.jpg?1497322378865" alt="kitten4" />
                <div class="kittencredit">
                    <p>
                      photo 4 credit
                    </p>
                  </div>
              </div>
            </div>
            <div class="info">
              <p>
                This card is a reward for [finishing|submitting]
              </p>
              <h3 class="name">
                [work name]
              </h3>
              <p class="date">
                [date]
              </p>
            </div>
          </div>
          
          <!--tile with one kitten-->
          <div class="tile">
            <div class="kitten-container of1">
              <div class="trigger n1"> 
                  <div class="indicator">
                  </div>
              </div>
              <div class="wrapper n1">
                  <img src="https://cdn.glitch.com/05f6fe2d-6aed-47fe-aeb3-085215e2dff8%2F087.jpg?1497312036836" alt="kitten" />
                <div class="kittencredit">
                    <p>
                      photo 1 credit
                    </p>
                  </div>
              </div> 
            </div>
            <div class="info">
               <p>
                This card is a reward for [finishing|submitting]
              </p>
              <h3 class="name">
                [work name]
              </h3>
              <p class="date">
                [date]
              </p>
            </div>
          </div>
          
        </div>
      </section>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    
    <script src="/client.js"></script>
    
    
  </body>
</html>
